    #leaderboard-container {
      display: none;
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #111;
      /* Dark background */
      padding: 20px;
      border: 3px solid #f00;
      /* Red border */
      color: #0f0;
      /* Green text color */
      width: 90%;
      max-width: 400px;
      box-sizing: border-box;
      font-family: 'Press Start 2P', cursive;
      /* Arcade font */
      text-align: center;
    }

    #leaderboard h2 {
      font-size: 24px;
      margin-bottom: 20px;
    }

    #leaderboard ol {
      list-style: none;
      padding: 0;
    }

    #leaderboard ol li {
      font-size: 14px;
      margin: 10px 0;
      border-bottom: 1px solid #f00;
      /* Red border for each entry */
      padding-bottom: 5px;
    }

    #auth {
      display: none;
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #111;
      /* Dark background */
      padding: 20px;
      border: 3px solid #f00;
      /* Red border */
      color: #0f0;
      /* Green text color */
      width: 90%;
      z-index: 100;
      max-width: 400px;
      box-sizing: border-box;
      font-family: 'Press Start 2P', cursive;
      /* Arcade font */
      text-align: center;
    }